<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Notifications</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Interface</a>
      </li>
      <li class="active">
        <strong>Notifications</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Alerts Styles</h5>
        </div>
        <div class="ibox-content">
          <div class="alert alert-success">
            How quickly daft jumping zebras vex. <a class="alert-link" href="">Alert Link</a>.
          </div>
          <div class="alert alert-info">
            How quickly daft jumping zebras vex. <a class="alert-link" href="">Alert Link</a>.
          </div>
          <div class="alert alert-warning">
            How quickly daft jumping zebras vex. <a class="alert-link" href="">Alert Link</a>.
          </div>
          <div class="alert alert-danger">
            How quickly daft jumping zebras vex. <a class="alert-link" href="">Alert Link</a>.
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Tooltips and Popovers</h5>
        </div>
        <div class="ibox-content text-center">
          <h4>Tooltip Demo
            <small>Background color more gentle.</small>
          </h4>
          <div class="tooltip-demo">
            <button type="button" class="btn btn-default btn-secondary"
                    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    placement="left">
              Tooltip on left
            </button>

            <button type="button" class="btn btn-default btn-secondary"
                    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    placement="top">
              Tooltip on top
            </button>

            <button type="button" class="btn btn-default btn-secondary"
                    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    placement="bottom">
              Tooltip on bottom
            </button>

            <button type="button" class="btn btn-default btn-secondary"
                    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    placement="right">
              Tooltip on right
            </button>
          </div>
          <br>
          <h4>Clickable Popover Demo</h4>
          <div class="tooltip-demo">
            <button type="button" class="btn btn-primary"
                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on left"
                    placement="left">
              Popover on left
            </button>

            <button type="button" class="btn btn-primary"
                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on top"
                    placement="top">
              Popover on top
            </button>

            <button type="button" class="btn btn-primary"
                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on bottom"
                    placement="bottom">
              Popover on bottom
            </button>

            <button type="button" class="btn btn-primary"
                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    popoverTitle="Popover on right"
                    placement="right">
              Popover on right
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
