<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Tree</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Interface</a>
      </li>
      <li class="active">
        <strong>Tree</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Tree</h5>
        </div>
        <div class="ibox-content">
          <p>
            JsTree를 표준 트리 컴포넌트로 사용하며, JsTree의 ngJsTree를 사용하여 Angular Way로 작성한다.
            또한, 반응형 Tree를 위해 jstree-bootstrap-theme를 적용한다.
            보다 자세한 내용은 홈페이지의 가이드를 참고한다.
          </p>
          <dl>
            <dt>JsTree</dt>
            <dd>- version : ~3.3.4</dd>
            <dd>
              - url : <a href="https://www.jstree.com/" target="_blank">https://www.jstree.com/</a>
            </dd>
            <dt>angular2-tree-component</dt>
            <dd>- version : ~4.1.0</dd>
            <dd>
              - url : <a href="https://www.npmjs.com/package/angular2-tree-component" target="_blank">https://www.npmjs.com/package/angular2-tree-component</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Basic Tree</h5>
        </div>
        <div class="ibox-content">
          <tree-root [nodes]="nodes"></tree-root>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Tree Event</h5>
        </div>
        <div class="ibox-content">
          <tree-root [nodes]="nodes"
                     (toggle)="onEvent($event)"
                     (activeChanged)="onEvent($event)"
                     (focus)="onEvent($event)"
                     (blur)="onEvent($event)">
          </tree-root>
          <p>event : {{treeEvent}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
